In [1]:
import pandas as pd

print("Notebook created successfully")

Notebook created successfully

In [2]:
classrooms = pd.read_csv("../data/raw/classrooms.csv")
parking = pd.read_csv("../data/raw/parking_lots.csv")
courses = pd.read_csv("../data/raw/courses.csv")
distances = pd.read_csv("../data/raw/walking_distances.csv")

classrooms, parking, courses, distances

(  classroom_id     building  capacity
 0         C101  Engineering        60
 1         C102  Engineering        40
 2         C201      Science        50
 3         C301     Business        45,
   parking_id     location  capacity
 0         P1        Lot51       300
 1         P2  CentralDeck       500
 2         P3     NorthLot       200,
   course_id   department  enrollment start_time end_time
 0    IE3000  Engineering          45      09:00    10:15
 1    IE4000  Engineering          35      10:30    11:45
 2   BIO2100      Science          40      09:30    10:45
 3   BUS3100     Business          30      11:00    12:15,
   from_location  to_location  minutes
 0         Lot51  Engineering        6
 1         Lot51      Science        8
 2   CentralDeck  Engineering        5
 3   CentralDeck      Science        6
 4      NorthLot     Business        4
 5   Engineering      Science        2
 6   Engineering     Business        3
 7       Science     Business        2)

In [3]:
print("Classrooms")
display(classrooms)

print("Parking")
display(parking)

print("Courses")
display(courses)

print("Distances")
display(distances)

Classrooms

  classroom_id     building  capacity
0         C101  Engineering        60
1         C102  Engineering        40
2         C201      Science        50
3         C301     Business        45

Parking

  parking_id     location  capacity
0         P1        Lot51       300
1         P2  CentralDeck       500
2         P3     NorthLot       200

Courses

  course_id   department  enrollment start_time end_time
0    IE3000  Engineering          45      09:00    10:15
1    IE4000  Engineering          35      10:30    11:45
2   BIO2100      Science          40      09:30    10:45
3   BUS3100     Business          30      11:00    12:15

Distances

  from_location  to_location  minutes
0         Lot51  Engineering        6
1         Lot51      Science        8
2   CentralDeck  Engineering        5
3   CentralDeck      Science        6
4      NorthLot     Business        4
5   Engineering      Science        2
6   Engineering     Business        3
7       Science     Business        2

In [4]:
courses["start_time"] = pd.to_datetime(courses["start_time"])
courses["end_time"] = pd.to_datetime(courses["end_time"])

courses.dtypes

/var/folders/63/wr6l936110q7lmw2k4g3c89m0000gn/T/ipykernel_2400/1742996981.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  courses["start_time"] = pd.to_datetime(courses["start_time"])
/var/folders/63/wr6l936110q7lmw2k4g3c89m0000gn/T/ipykernel_2400/1742996981.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  courses["end_time"] = pd.to_datetime(courses["end_time"])

course_id             object
department            object
enrollment             int64
start_time    datetime64[ns]
end_time      datetime64[ns]
dtype: object